[submodule "packages/imapclient"]
	path = packages/imapclient
	url = git@github.com:inboxapp/imapclient.git
[submodule "packages/bleach"]
	path = packages/bleach
	url = git@github.com:grinich/bleach.git
[submodule "packages/iconv"]
	path = packages/iconv
	url = git@github.com:inboxapp/iconv.git
[submodule "packages/flanker"]
	path = packages/flanker
	url = git@github.com:mailgun/flanker.git
