# Inbox-specific
/config.cfg
/packer_cache
/log
# Vagrant
/.vagrant
node_modules
*.py[cod]
.DS_Store
# C extensions
*.so
/tests/log
/tests/output
/tests/coverage
/cache
/src/flanker
/src/inbox-util
/src/zerorpc
# virtualenv
/include
/local

# Dev HTTPS oauth callback server
/tools/oauth_callback_server/server.crt
/tools/oauth_callback_server/server.key
/tools/oauth_callback_server/dev_https

/api/server.crt
/api/server.key
/api/dev_https

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

