include inbox/docs/api/*.mdown inbox/docs/gettingstarted/*.mdown inbox/api/mime_types.txt etc/*
recursive-include inbox *.html
# added by check_manifest.py
include *.example
include *.md
include *.sh
include *.txt
include *.yml
include LICENSE
include Vagrantfile
include alembic.ini
include tox.ini
recursive-include arclib *.php
recursive-include bin *.sh
recursive-include debian *.triggers
recursive-include migrations *.mako
recursive-include migrations *.py
recursive-include inbox *.agignore
recursive-include inbox *.ics
recursive-include inbox *.ini
recursive-include inbox *.jpg
recursive-include inbox *.py
recursive-include inbox *.sql
recursive-include inbox *.wav
recursive-include inbox *.txt
recursive-include inbox *.json
recursive-include inbox *.key
recursive-include inbox *.pem
