include inbox/docs/api/*.mdown inbox/docs/gettingstarted/*.mdown inbox/api/mime_types.txt etc/*
recursive-include inbox *.html
# added by check_manifest.py
include *.example
include *.md
include *.sh
include *.txt
include *.yml
include Dockerfile
include LICENSE
include Vagrantfile
include alembic.ini
include runtests
include tox.ini
recursive-include arclib *.php
recursive-include bin *.sh
recursive-include debian *.triggers
recursive-include docker *.conf
recursive-include migrations *.mako
recursive-include migrations *.py
recursive-include tests *.agignore
recursive-include tests *.gitignore
recursive-include tests *.ics
recursive-include tests *.ini
recursive-include tests *.jpg
recursive-include tests *.py
recursive-include tests *.sql
recursive-include tests *.wav
