coverage==3.7.1
httplib2==0.8
pytest==2.5.2
wsgiref==0.1.2
futures==2.1.3
SQLAlchemy==0.9.6
pymongo==2.5.2  # For json_util in bson
dnspython==1.11.0
boto==2.10.0
ipython==1.0.0
Flask==0.10.1
gevent==1.0.1
gevent-socketio==0.3.5-rc2
geventconnpool==0.2.1
gunicorn==19.0.0
colorlog==1.8
MySQL-python==1.2.5
requests==2.3.0
chardet==2.1.1
setproctitle==1.1.8
git+https://github.com/inboxapp/zerorpc-python.git@master#egg=zerorpc
gdata==2.0.18
python-dateutil==2.1
git+https://github.com/inboxapp/flanker.git@master#egg=flanker
# imapclient==0.11
git+https://github.com/inboxapp/imapclient.git@inbox-modseq-hotfix#egg=imapclient
alembic==0.6.4
iconv==1.0
pep8==1.4.6
flake8==2.1.0
pyflakes==0.7.3
pylint==1.1.0
git+https://github.com/inboxapp/html2text.git@master#egg=html2text
python-magic==0.4.6
greenlet==0.4.2
PyMySQL==0.6.2
click==2.4
faulthandler==2.3
pyinstrument==0.12
structlog==0.4.1
lxml==3.3.5  # For talon
cssselect==0.9.1  # For talon
git+https://github.com/mailgun/talon.git@master#egg=talon
raven==5.0.0
simplejson==3.6.0
Flask-RESTful==0.2.12
google-api-python-client==1.2
oauth2client==1.2
icalendar==3.8.2
#pynacl==0.2.3
git+https://github.com/kav-ya/pynacl.git@libsodium_fix#egg=pynacl
pyaml==14.05.7
enum==0.4.4
git+https://github.com/inboxapp/inbox-python.git@master#egg=inbox-python
