argparse==1.2.1
beautifulsoup4==4.1.3
httplib2==0.8
pytest==2.3.4
tornado==3.0.1
wsgiref==0.1.2
futures==2.1.3
jsonrpclib==0.1.3
SQLAlchemy==0.8.2
pymongo==2.5.2  # For json_util in bson
dnspython==1.11.0
boto==2.10.0
ipython==1.0.0
Flask==0.10.1
gevent-socketio==0.3.5-rc2
gunicorn==17.5
colorlog==1.8
MySQL-python==1.2.4
requests==1.2.3
Fabric==1.7.0
supervisor==3.0
iconv==1.0
chardet==2.1.1
PIL==1.1.7
Wand==0.3.5
setproctitle==1.1.7

# Our own versions of these
-e git+git://github.com/inboxapp/imapclient#egg=imapclient
-e git+git://github.com/inboxapp/bleach#egg=bleach

# For ZeroRPC
Cython==0.19.1
-e git+git://github.com/dotcloud/zerorpc-python.git#egg=zerorpc

# v13.1.0
-e git+git://github.com/zeromq/pyzmq.git@v13.1.0#egg=zmq
