{% extends 'layout.html' %}

{% block title %} Monocle - Accounts {% endblock %}

{% block content %}
<div class='text-center' id='counts'>
  <div>
  <span id='total'></span>
  </div>

  <div>
  <span id='running'></span>
  <span id='stopped'></span>
  <span id='killed'></span>
  <span id='unstarted'></span>
  </div>

  <div>
  <span id='gmail'></span>
  <span id='eas'></span>
  <span id='outlook'></span>
  <span id='yahoo'></span>
  <span id='other'></span>
  </div>
</div>

<div class='table-responsive table-white'>
<table class='table table-bordered table-condensed table-hover' id='status_table'>
  <thead>
    <tr>
      <th class="account_id">Id:</th>
      <th class="email">Email Address:</th>
      <th class="provider">Provider:</th>
      <th class="enabled">Enabled?</th>
      <th class="state">State</th>
      <th class="start">Start Time</th>
      <th class="end">End Time</th>
      <th class="error">Sync Error</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
{% endblock %}

{% block scripts %}
<script type=text/javascript>
  var callback;
  var interval = 30;
  var tableFilter = {
      col_0: 'none',
      col_1: 'none',
      col_2: 'select',
      col_3: 'select',
      col_4: 'select',
      col_5: 'none',
      col_6: 'none',
      col_7: 'none'
  };
  var callback_fn = function() {
      $.getJSON(
        $SCRIPT_ROOT + '/_accounts',
        {},
        function(data) {
          var count = data.length
          var running = 0; var stopped = 0; var killed = 0; var unstarted = 0;
          var gmail = 0; var eas = 0; var outlook = 0; var yahoo = 0; var other = 0;

          var content = '';
          $.each(data, function(i, item) {
              link = '<a href="' + $SCRIPT_ROOT + '/account/' + item.id + '" id="link-' + item.id + '" >' + item.id + "</a>";
              content += '<tr class="account-row" onclick="document.getElementById(\'link-' + item.id + '\').click();">';
              content += '<td class="account_id">' + link + '</td>';
              content += '<td class="email">' + item.email + '</td>';
              content += '<td class="provider">' + item.provider + '</td>';
              content += '<td class="enabled">' + (item.is_enabled ? 'enabled' : 'not enabled') + '</td>';
              content += '<td class="state status-' + (item.state == 'running' ? "ok" : "bad") + '">' + (item.state || '') + '</td>';
              content += '<td class="start">' + (time_ago(item.sync_start_time) || '') + '</td>';
              content += '<td class="end">' + (time_ago(item.sync_end_time) || '') + '</td>';
              content += '<td class="error">' + (item.sync_error || '') + '</td>';
              content += '</tr>';
              content += '</a>'


              if (item.state === 'running') { running += 1; }
              else if (item.state === 'stopped') { stopped += 1; }
              else if (item.state === 'killed') { killed += 1; }
              else { unstarted += 1; }

              if (item.provider === 'gmail') { gmail += 1; }
              else if (item.provider === 'eas') { eas += 1; }
              else if (item.provider === 'outlook') { outlook += 1; }
              else if (item.provider === 'yahoo') { yahoo += 1; }
              else { other += 1; }
          });

          $('#status_table tbody').html(content);

          $('#total').html('Accounts: ' + count);

          $('#running').html('Running: ' + running);
          $('#stopped').html('Stopped: ' + stopped);
          $('#killed').html('Killed: ' + killed);
          $('#unstarted').html('Unstarted: ' + unstarted);

          $('#gmail').html('Gmail: ' + gmail);
          $('#eas').html('EAS: ' + eas);
          $('#outlook').html('Outlook: ' + outlook);
          $('#yahoo').html('Yahoo: ' + yahoo);
          $('#other').html('Other: ' + other);

          if ($('#status_table tr').length >= 3) {
              setFilterGrid('status_table', 0, tableFilter);
          }
      });
  };

  $(function() {
    callback_fn();
    callback = setInterval(callback_fn, interval*1000); 
  });

  $(document).delegate('.ui-page', 'pagehide', function () {
      clearInterval(callback);
  });
</script>
{% endblock %}
