{% extends 'layout.html' %}

{% block title %} Monocle - Account {{ account.id }} {% endblock %}

{% block content %}
<h2 class='sub-header text-primary text-center'>MailSync Status Info: Account {{ account.id }}</h2>
<div class='table-responsive table-white'>
<table class='table table-bordered table-condensed table-hover' id='status_table'>
  <thead>
    <tr>
      <th>Folder<br></th>
      <th>State (running/ stopped/ killed):<br></th>
      <th>Sync Start Time:<br></th>
      <th>Sync End Time:<br></th>
      <th>Sync Error:<br></th>
      <th>Sync State (initial/ poll/ finish):<br></th>
      <th>Num messages on remote:<br></th>
      <th>As of:<br></th>
      <th>Num updated:<br></th>
      <th>As of:<br></th>
      <th>Num deleted:<br></th>
      <th>As of:<br></th>
      <th>Num to download:<br></th>
      <th>As of:<br></th>
      <th>Num downloaded since then:<br></th>
      <th>Num left to download:<br></th>
      <th>As of:<br></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
{% endblock %}

{% block scripts %}
<script type=text/javascript>
  var callback;
  var interval = 10;
  var callback_fn = function() {                        
      $.getJSON(                            
        $SCRIPT_ROOT + '/_accounts/' + {{ account.id }},              
        {},                                 
        function(data) {
          var content = '';
          $.each(data, function(i, item) {
              timestamp = item.uid_checked_timestamp
              content += '<tr>';
              content += '<td>' + item.name + '</td>';
              content += '<td>' + (item.run_state || '') + '</td>';
              content += '<td>' + (item.sync_start_time || '') + '</td>';
              content += '<td>' + (item.sync_end_time || '') + '</td>';
              content += '<td>' + (item.sync_error || '') + '</td>';
              content += '<td>' + (item.state || '') + '</td>';
              content += '<td>' + (item.remote_uid_count || '') + '</td>';
              content += '<td>' + (timestamp || '') + '</td>';
              content += '<td>' + (item.update_uid_count || '') + '</td>';
              content += '<td>' + (timestamp || '') + '</td>';
              content += '<td>' + (item.delete_uid_count || '') + '</td>';
              content += '<td>' + (timestamp || '') + '</td>';
              content += '<td>' + (item.download_uid_count || '') + '</td>';
              content += '<td>' + (timestamp || '') + '</td>';
              content += '<td>' + (item.num_downloaded_since_timestamp || '') + '</td>';
              content += '<td>' + (item.current_download_queue_size || '') + '</td>';
              content += '<td>' + (item.queue_checked_at || '') + '</td>';
              content += '</tr>';
          });
          $('#status_table tbody').html(content);
        });
  };

  $(function() {
    callback_fn();
    callback = setInterval(callback_fn, interval*1000); 

    console.log('Callback set up.');
  });

  $(document).delegate('.ui-page', 'pagehide', function () {
      clearInterval(callback);
  });
</script>
{% endblock %}
