{% extends 'layout.html' %}

{% block title %} Monocle - Account {{ account.id }} {% endblock %}

{% block content %}
<h2 class='sub-header text-primary text-center'>MailSync Status Info: Account {{ account.id }}</h2>
<div class='table-responsive'>
<table class='table table-striped' id='status_table'>
  <thead>
    <tr>
      <th>Folder (Folder Id)<br></th>
      <th>State<br></th>
      <th>Num messages to sync<br></th>
      <th>As of<br></th>
      <th>Num synced<br></th>
      <th>As of<br></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
{% endblock %}

{% block scripts %}
<script type=text/javascript>
  var callback;
  var interval = 10;
  var callback_fn = function() {                        
      $.getJSON(                            
        $SCRIPT_ROOT + '/_accounts/' + {{ account.id }},              
        {},                                 
        function(data) {
          var content = '';
          $.each(data, function(i, item) {
              content += '<tr>';
              content += '<td>' + item.name + '</td>';
              content += '<td>' + item.state + '</td>';
              content += '<td>' + item.num_uids_to_sync + '</td>';
              content += '<td>' + item.uid_checked_timestamp + '</td>';
              content += '<td>' + item.num_synced_since_timestamp + '</td>';
              content += '<td>' + item.synced_checked_at + '</td>';
              content += '</tr>';
          });
          $('#status_table tbody').html(content);
        });
  };

  $(function() {
    callback_fn();
    callback = setInterval(callback_fn, interval*1000); 

    console.log('Callback set up.');
  });

  $(document).delegate('.ui-page', 'pagehide', function () {
      clearInterval(callback);
  });
</script>
{% endblock %}
