{% extends 'layout.html' %}
{% block title %} Monocle {% endblock %}
{% block content %}
<h2 class='sub-header text-primary text-center'>Usage</h2>
<h4 class='text-primary text-center'>
	<p class='text-green'>Account-level sync status for all accounts :<br></p>
	<a href='/accounts' target='_blank'>/accounts</a><br><br><br>

  	<p class='text-green'>Folder-level sync status for an account :<br></p> 
  	1. /accounts/{account_id}, or</a><br>
  	2. Click on the account_id in the <a href='/accounts' target='_blank'>accounts</a> table
</h4>
{% endblock %}
