<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='icon' href="{{ url_for('static', filename='favicon.png') }}">
    <div class='main'>
      <h1 class='text-center'>Monocle<br></h1>
      <h2 class='text-center'>The Inbox Admin Dashboard</h2>
    </div>
    <div>
      <title>{% block title %}{% endblock %}</title>
    </div>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='dashboard.css') }}">
  </head>
  <body>
    <div class='page'>{% block content %}{% endblock %}</div>
  </body>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script type=text/javascript src="{{url_for('static', filename='tablefilter.js') }}"></script>
  <script type=text/javascript>
  	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  {% block scripts %}{% endblock %}
</html>
