
/* Reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, blockquote, code, img,
ol, ul, li, form, input,
select, button, article,
aside, canvas, footer, header,
hgroup, menu, nav, section,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
input:focus, button:focus,
select:focus {
  outline: 0;
}
article, aside, footer,
header, hgroup, menu,
nav, section {
  display: block;
}
.clear {
  clear: both;
}

/* Begin style */


body {
  text-rendering: optimizeLegibility;
  font-smooth:always;
  background: #DAE2E2;
}

#container{
  position:absolute;
  top: 50%;
  left: 50%;
  opacity: 0;

  position: absolute;
  text-align: center;
  width: 300px;
  height: 200px;
  /*set to a negative number 1/2 of your width/height*/
  margin: -100px 0px 0px -150px;

  animation: fadein 1.0s ease-out;
  -webkit-animation: fadein 1.0s ease-out;
  -moz-animation: fadein 1.0s ease-out;


  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}


#container-noanimate{
  position:absolute;
  top: 50%;
  left: 50%;
  opacity: 1;

  position: absolute;
  text-align: center;
  width: 300px;
  height: 200px;
  /*set to a negative number 1/2 of your width/height*/
  margin: -100px 0px 0px -150px;
}


@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: scale(.8);
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
    -moz-transform: scale(.8);
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}




a {
  padding: 0px 2px;
  text-decoration: none;
  top: 0px;
}

a:hover {
  color: rgba(51, 136, 221, 1);
  text-decoration: underline;
}

a:active {
  position: relative;
  top: 2px;
}

h1 {
  font-family: "proxima-nova-alt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size:20px;
  color: #777;
  text-shadow:1px 1px 1px white;
}

.subhead
{
  padding-top: 35px;
  padding-bottom: 30px;

  font-family: "proxima-nova-alt", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size:18px;

  text-align: center;
}




a.button, input[type=submit] {
  margin-top: 30px;

  color: #6e6e6e;
  text-decoration: none;
  padding: 7px 12px;
  position: relative;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;

  -webkit-transition: border-color .218s;
  -moz-transition: border .218s;
  -o-transition: border-color .218s;
  transition: border-color .218s;


  background: #f3f3f3;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
  background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));

  border: solid 1px #bbb !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

}

a.button:hover {
    text-decoration: none;
    /*color: #333;*/
    color: #1A7A93;
    border: solid 1px  #1A7A93 !important;
}


a.button:focus {
    outline:0;
    text-decoration: none;
    /*color: #333;*/
    color: #1A7A93;
    border: solid 1px  #1A7A93 !important;
}

a.button.working {
  /*margin-left: 102px;*/
  background: #f3f3f3 url("/app/img/spinner.gif") no-repeat 6px 10px;
  padding-left: 28px;
  color: rgba(51, 136, 221, 1);
  border: solid 1px  #1A7A93 !important;
}

a.button.working:after
{
content: "Verifying";
}


a {
  padding: 0px 2px;
  text-decoration: none;
  top: 0px;
}

a:hover {
  color: rgba(51, 136, 221, 1);
  text-decoration: underline;
}




#login_username {

  background: #f3f3f3;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
  background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));

  border: solid 1px #bbb !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  padding:12px;
  width:250px;
  text-align:center;
}

#login_username:focus
{
  border: solid 1px  #1A7A93 !important;
}


#status {
  font-style: italic;
  font-weight: 300;
  font-size:13px;
  padding-top:15px;
  padding-bottom:15px;
  color: #777;
  text-shadow:1px 1px 1px white;
}

