
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.05);
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(77, 127, 189, .5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.15);
}


/* Disables scrolling on the page. */
html, body {
  position:relative;
  height: 100%;
  width:100%;
  overflow: hidden;

  /* Disable selection.
  http://stackoverflow.com/questions/7327627/disable-hover-text-select-etc-when-dragging-an-element-in-jquery-plug-in

   */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;

   /* User hand cursor on web. but not on desktop. */
   cursor: default;

}

input:focus, button:focus,
select:focus
{
  outline: 0;
}

input[type="text"] {
  padding: 0;
  margin: 0;
}

:hover {
  cursor: default;
}


body
{
  font-family: HelveticaNeue-Light, sans-serif;

  background-color: #E1E4E6;
  color: #616566;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


::-moz-selection,
::-webkit-selection,
::selection
 {
  background: rgba(240,17,68,0.8);
  color: #fff;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: #1b98f8;
}



/* Generally useful helpers */
.clickable {
  cursor: pointer;
}

.ellipsis {
  overflow:hidden;
  white-space:nowrap;
  -ms-text-overflow:ellipsis;
  text-overflow:ellipsis;
 }

 .clear {
  clear:both;
 }







/*
 *  Main page element layout
 */

#wrapper {
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
}


#main {
  position:relative;
  width:100%;
  height: 100%;
  overflow:hidden;
}


.header {
  position:relative;
  height:42px;
  overflow:hidden;

  background-color: #FFF;
  -moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.18);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.18);
  box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.18);

  display: block;
  float:left;
  z-index: 999999;
}


.header_left {
  width: 375px;
  float:left;
  height: 42px;
}


.sidebar {

  z-index: 999999;

  width: 44px;
  float:left;
  margin:0 auto;


  margin-right: 2px;
  margin-top: 8px;


/*  border-right-style: solid;
  border-right-color: #F65E55;
  border-right-width: 2px;
*/

  -moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.18);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.18);
  box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.18);
  background-color: #FFF;
}


.sidebar_icon
{
  width: 44px;
  height: 44px;
  float:left;
  background-repeat: no-repeat;
  background-color: #FFF;
}

.sidebar_icon:hover {
  background-color: #f9f9f9;
}


.sidebar_icon_search {
  width: 46px;
  height: 42px;
  background-image: url("../img/search_icon_inactive.png");
  background-position: 4px 4px;;
}

.sidebar_icon_search_active {
  background: #90ACE5 url("../img/search_icon_active.png") no-repeat 4px 4px !important;
}

.sidebar_icon_mail {
  background: #FFF url("../img/mail_icon_inactive.png") no-repeat 12px 15px;
}
.sidebar_icon_mail_active {
  background: #F65E55 url("../img/mail_icon_active.png") no-repeat 12px 15px !important;
}

.sidebar_icon_todo {
  background: #FFF url("../img/todo_icon_inactive.png") no-repeat 0px 3px;
}
.sidebar_icon_todo_active {
  background: #A7DE75 url("../img/todo_icon_active.png") no-repeat 0px 3px !important;
}

.sidebar_icon_stacks {
  background: #FFF url("../img/stacks_icon_inactive.png") no-repeat 10px 10px;
}
.sidebar_icon_stacks_active {
  background: #D47CF8 url("../img/stacks_icon_active.png") no-repeat 10px 10px !important;
}

.sidebar_icon_people {
  background: #FFF url("../img/people_icon_inactive.png") no-repeat 12px 13px;
}
.sidebar_icon_people_active {
  background: #76D9CC url("../img/people_icon_active.png") no-repeat 12px 13px !important;
}

.sidebar_icon_groups {
  background: #FFF url("../img/groups_icon_inactive.png") no-repeat 9px 13px;
}
.sidebar_icon_groups_active {
  background: #F9CB61 url("../img/groups_icon_active.png") no-repeat 9px 13px !important;
}

.sidebar_icon_settings {
  background: #FFF url("../img/settings_icon_inactive.png") no-repeat 12px 12px;
  position: absolute;
  bottom: 0;
}
.sidebar_icon_settings_active {
  background: #9C9C9C url("../img/settings_icon_active.png") no-repeat 12px 12px !important;
}








input[type="text"] { border: none }


.header_searchbox {
  color: rgba(7,7,7,0.52);
  padding-left: 4px;
  float:left;
  height:40px;
  outline: none;
}


.header_searchbox input {
  font-family: HelveticaNeue-Light, sans-serif;
  font-size: 14px;

  margin-top: 8px;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-left: 6px;
  padding-left: 6px;

  width: 270px;

  border: none;
  box-shadow: none;
  outline:0;
}


.header_searchbox input:focus
{
  color: #1A7A93;
  border: none;
  box-shadow: none;
  outline:0;

  background-color: #fafafa;

/*  border-bottom: 1px solid ;
  border-radius: 0;
*/
}


.header_composebutton
{
  background: transparent url("../img/header_composebutton.png") no-repeat 16px 7px;
  float:left;
  padding-left: 12px;
  width: 34px;
  height:40px;
}



.master_pane {
  width: 375px;
  float: left;

  margin-top: 8px;


/*  border-width: 1px;
  border-style: solid;
  border-color: #C3CDCD;
  margin-top:-1px;*/

  background: #FFFFFF;
}


.list_item_separator {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #f0f0f0;
  margin-right: 20px;
  margin-top: -9px;
  height:10px;
}



.category_bar {
  height: 17px;
  padding-top: 6px;
  padding-bottom: 2px;

  width: 96%;
  padding-left: 2%;
  padding-right: 2%;

  background-color: #F5F5F5;

  font-family: HelveticaNeue;
  font-size: 12px;
  color: #A1A1A1;

  display: table;
  table-layout: fixed;    /* For cells of equal size */

  float:left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C3CDCD;


  background-color: #FFF;
  -moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.18);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.18);
  box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.18);
  z-index: 99;
}

.category_bar span {
    display: table-cell;
    text-align: center;
}

.category_bar :hover{
  text-decoration: underline;
}


.category_bar_active {
  font-family: HelveticaNeue-Bold;
  color: #838386;
}


.messagelist {
  padding:0;
  margin:0;
  overflow-y: auto;
}


.itemcell_email_item {
  padding-top: 8px;
  padding-bottom: 10px;

  padding-left: 10px;
  padding-right: 6px;

/*  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C3CDCD;
*/
  color: #333333;
  font-size: 12px;
}


.itemcell_email_container {
  display:block;
  height: 58px;
  min-height: 58px;
  max-height: 58px;
  overflow: hidden;
}





.itemcell_email_item_unread
{
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #79AFFF;
}

.itemcell_byline {
  font-weight: 500;
  font-family: HelveticaNeue, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 13px;
  padding-top: 6px;
  padding-bottom:4px;
  /*letter-spacing: 0.2px;*/
}

.itemcell_date {
  font-family: HelveticaNeue-Light, sans-serif;
  color: #708080;
  font-size: 12px;
  line-height: 13px;
  padding-top: 4px;
  padding-bottom:4px;
  letter-spacing: 0.2px;
}


.itemcell_summary {
  font-size: 12px;
  font-family: HelveticaNeue-Light, sans-serif;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: #666;
}

.itemcell_summary_subject {
  color: #333;
  font-family: HelveticaNeue-Medium, sans-serif;
}

.itemcell_email_item_hover {
  background-color: #f3f3f3;
}

.itemcell_email_item_active {
  color: #1A7A93;
  background-color: #EFF4F9 !important;
}

/********************************************
  TODO
*********************************************/




.container_scrollable {
  padding:0;
  margin:0;
  overflow-y: auto;
}


.list_item_todo_category {
  height: 28px;
  padding-top: 10px;
  padding-bottom: 2px;

  width: 96%;
  padding-left: 2%;
  padding-right: 2%;

  background-color: #FFF;

  font-family: HelveticaNeue-Light;
  font-size: 20px;
  color: #666;
  margin-right:8px;

  text-align: center;

  float:left;
  margin-bottom:1px;
  letter-spacing: 0.3px;


  margin-bottom:1px;

}



.list_item_todo {

  color: #333333;
  height: 31px;

  padding-left: 12px;
  padding-top: 12px;

  padding-right: 6px;

  font-size: 14px;

  border-top: 1px solid #C3CDCD;

  color: #999;

  font-family: HelveticaNeue, sans-serif;
  letter-spacing: 0px;
  color: #333;
}


.list_item_todo:hover{
  background-color: #E5FAFA;

  border-top: 1px solid #5598CA;
  border-bottom: 1px solid #5598CA;
  margin-bottom:-2px;
  height:32px;

  z-index: 9999999;
}

.list_item_todo_complete {
  background-color: #f8f8f8;
}

.checkbox {
  float:left;
  width:26px;
  height:26px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0px -4px;
}

.list_item_todo_incomplete .checkbox {
  background-image: url("../img/list_todo_icon_incomplete.png");
}

.list_item_todo_incomplete .checkbox:hover {
  background-image: url("../img/list_todo_icon_hover.png")
}

.list_item_todo_complete .checkbox {
  background-image: url("../img/list_todo_icon_complete.png") !important;
}

.title {
  float:left;
  padding-left: 8px;
  padding-top: 3px;
}


.list_item_todo_incomplete .title {
  /*font-family: HelveticaNeue-Light, sans-serif;*/
  color: #666;
}


.list_item_todo_complete .title {
  text-decoration:line-through;
  /*font-family: HelveticaNeue-Light, sans-serif;*/
  color: #999;
}

.list_item_todo:hover .move {
  float:right;
  width:26px;
  height:26px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0px 4px;

  background-image: url("../img/todo_icon_move.png");
}







/********************************************************/


.detail_pane {
  float: left;
  position: relative;

  overflow: auto;
}



.action_button {
  display: block;
  font-weight: 200;
  font-family: HelveticaNeue-Light, sans-serif;
  font-size: 14px;
  color: #4C4C4C;
  float: left;

  padding-top: 12px;

  padding-left: 40px;
  padding-right: 18px;
  margin-left: 0px;
  min-height: 30px;
}

.action_button:hover {
    background-color: #f9f9f9 !important;
}

.action_button.compose {
  background: #FFF url("../img/action_button_compose.png") no-repeat 17px 13px;
}

.action_button.archive {
  background: #FFF url("../img/action_button_archive.png") no-repeat 17px 13px;
}
.action_button.todo {
  background: #FFF url("../img/action_button_todo.png") no-repeat 17px 10px;
}
.action_button.snooze {
  background: #FFF url("../img/action_button_snooze.png") no-repeat 20px 12px;
}
.action_button.move {
  background: #FFF url("../img/action_button_move.png") no-repeat 18px 12px;
}
.action_button.group {
  background: #FFF url("../img/action_button_group.png") no-repeat 18px 14px;
}
.action_button.more {
  background: #FFF url("../img/action_button_more.png") no-repeat 15px 18px;

  padding-left: 5px;
  padding-right: 36px;
  margin-left: 0px;
  min-height: 30px;
  float: right;
}


.action_button_sep {
  display: inline-block;
  float:left;
  margin-top: 10px;
  margin-bottom: 10px;
  border-right: 1px solid #D3D0D0;
  min-height:24px;
}



.rightcol {
  height:100%;
  float:left;
}



.content_head {
  padding: 20px;
  padding-bottom:25px;
}


.message_container {
  background: #FFFFFF;
  -moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.18);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.18);
  box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.18);

  margin: 20px;
  display: block;
}


.messageview_container {
  position: relative;
}

.messageview_byline {
  margin: 0;
  margin-right: 15px;
  height: 42px;
  overflow: hidden;
  padding-top: 15px;
  color: #333;
}

.messageview_byline_name {
  font-family: HelveticaNeue-Medium, sans-serif;
  display: inline;
}

.gravatar_image {
  background-color: #FFF;
  position:relative;
  float:left;
  left: 10px;
  width: 34px;
  height: 34px;

  border-radius: 34px;
  border-width: 1px;
  border-style: solid;
  border-color: #E6E8EA;
  background-size: cover;

  overflow: visible;
  margin-right: 15px;

  z-index: 999;
}


.messageview_byline {
  padding-left: 8px;
  padding-bottom:5px;
  padding-top: 12px;

  font-family: HelveticaNeue-Light, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 14px;
  letter-spacing: 0.3px;
}




.messageview_separator {
  width: inherit;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DAE2E2;

  margin-left: 20px;
  margin-right: 20px;
}



/*  TODO  */
.email-item-selected {
  background: #eee;
}
.email-item-unread {
  border-left: 6px solid #02a3c6;
}


/* Email Content Styles */
.email-content
{
  position: absolute;
  left: 375px;

  top: 0px;
  bottom: 80px;
  right: 0px;
  box-sizing: border-box;
  overflow-y: auto;

  overflow: auto;
}


.email_content_title {
  text-align:left;

  text-shadow:1px 1px 1px white;
  font-family: HelveticaNeue-Light, sans-serif;
  font-size: 20px;
  color: #4C4C4C;
  line-height: 24px;
}


.email_content_subtitle {
  font-family: HelveticaNeue-Light, sans-serif;
  font-size: 1em;
  margin: 0;
  font-weight: normal;

  display:block;
  font-weight: 600;
  color: #999;
  text-shadow:1px 1px 1px white;
  font-size: 14px;

  color: #999;
  float:left;
}




/********************************************************/



.replybox_container_style {
  padding-top: 5px;
  padding-left: 10px;
    padding-right: 10px;

  padding-bottom: 10px;
  min-width: 538px;
}

.replybox_content_style {
  color: #333;
  text-shadow: 1px 1px 1px white;
  margin-bottom: 5px;
  margin-top: 5px;
  min-height: 50px;
}

.replybox_bottom_button_bar {
  background-color: #EEF2F2;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E1E8E7;
  height: 33px;
}

.replybox_bottom_button {
  font-family: HelveticaNeue;
  font-weight: 600;
  font-size: 13px;
  color: #708080;
  line-height: 16px;
  padding-top: 10px;
  float: left;
  height: 23px;
  padding-right: 15px;
  padding-left: 35px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E1E8E7;
}


.replybox_bottom_button.add_file {
  background: transparent url("../img/addfiles_icon.png") no-repeat 13px 6px;
}
.replybox_bottom_button.add_photo {
  background: transparent url("../img/addphotos_icon.png") no-repeat 11px 8px;
}
.replybox_bottom_button.add_event {
  background: transparent url("../img/addevent_icon.png") no-repeat 12px 8px;
}
.replybox_bottom_button.add_money {
  background: transparent url("../img/sendmoney_icon.png") no-repeat 9px 6px;
}
.replybox_bottom_button.send {
  font-family: HelveticaNeue-Light;
  font-size: 13px;
  color: #606C6B;
  line-height: 16px;

  padding-top: 10px;
  float: right;
  height: 23px;

  padding-right: 20px;
  padding-left: 20px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E1E8E7
}


/********************************************************/


.email-content-controls {
margin-top: 2em;
text-align: right;
}

.email-content-controls .secondary-button {
margin-bottom: 0.3em;
}




/********************************************************/



.footerstatus
{
  font-family: HelveticaNeue-Light, sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: rgba(7,7,7,0.52);
  line-height: 36px;
  text-shadow: 0px 1px 0px #FFFFFF;

  width:300px;
  margin-left: 102px;
  background: transparent url("/app/img/spinner.gif") no-repeat 0px 9px;
  padding-left: 22px;
}




/********************************************************/




/* Buttons */


a.button, input[type=submit] {
  color: #6e6e6e;
  font: bold 12px Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 7px 12px;
  position: relative;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  -webkit-transition: border-color .218s;
  -moz-transition: border .218s;
  -o-transition: border-color .218s;
  transition: border-color .218s;
  background: #f3f3f3;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
  background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
  border: solid 1px #dcdcdc !important;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-right: 10px;
}

a.button:hover {
  color: #333;
  border-color: #999;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active {
  color: #000;
  border-color: #444;
}



.animate_change
{
   transition: 0.3s;
   -moz-transition:  0.3s;
   -webkit-transition:  0.3s