
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.05);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(77, 127, 189, .5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.15);
}


/* Disables scrolling on the page. */
html, body {
  position:relative;
  height: 100%;
  width:100%;
  overflow: hidden;


  /* Disable selection.
  http://stackoverflow.com/questions/7327627/disable-hover-text-select-etc-when-dragging-an-element-in-jquery-plug-in

   */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;

   /* User hand cursor on web. but not on desktop. */
   cursor: default;

}

:hover {
    cursor: default;
}



body {

  font-smooth:always;
  -webkit-font-smoothing:antialiased;

  background-color: #DAE2E2;

  color: #616566;

  margin: 0;
  padding: 0;
}


::-moz-selection,
::-webkit-selection,
::selection
 {
  background: rgba(240,17,68,0.8);
  color: #fff;
  text-shadow: none;
}


a {
    text-decoration: none;
    color: #1b98f8;
}


/*
 *  Main page element layout
 */

#wrapper {
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
}

/* For alerts */
#header {
  position:relative;
  height:100px;
  width:100%;
  overflow:hidden;
}

#main {
  position:relative;
  width:200%; /* prevent flickering when resizing */
  overflow:hidden;
}

.leftcol {
  height:100%;
  width:375px;
  float:left;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.leftHeader {
  background-color: #EEF2F2;
  border-bottom: 1px solid #dadfe5;

  border-top-right-radius: inherit;
  border-top-left-radius:inherit;

    height:40px;

}


.messagelist {
  padding:0;
  margin:0;
  overflow-y: auto;
}

.leftFooter
{
  background-color: #EEF2F2;

  text-align: left;
  height:34px;

  border-top: 1px solid #dadfe5;

  border-bottom-right-radius: inherit;
  border-bottom-left-radius:inherit;
}






#rightcol {
  height:100%;
  float:left;
}



.content {
  position:relative;
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}
.contentHead {
  height:33px;

}

.contentBody {
    overflow: auto;
}


.searchbox
{
  display:block;
  padding: 10px;
}

.searchbox input  {
  background: white url("/img/magnifying.png") no-repeat 10px 8px;
  padding-left: 29px;
}

.searchbutton
{
  background: transparent url("/img/search-icon.png");
  width: 21px;
  height: 24px;
  float:left;
  margin-top: 8px;
  margin-left: 8px;
}

.composebutton
{
  background: transparent url("/img/compose.png");
  width: 22px;
  height: 22px;
  float:right;
  margin-top: 8px;
  margin-right: 8px;
}



.clickable
{
  cursor: pointer;
}

.inboxlabel
{
  font-family: "proxima-nova-alt-condensed", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: rgba(7,7,7,0.52);
  padding-top: 14px;
  text-shadow: 0px 1px 0px #FFFFFF;
  text-align:center;
  width:100px;
  margin-left:auto;
  margin-right:auto;
}




.gearbutton
{
  background: transparent url("/img/gear.png");
  width: 19px;
  height: 20px;
  float:left;
  margin:8px;
}


.footerstatus
{
  font-family: "proxima-nova-alt-condensed", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: rgba(7,7,7,0.52);
  line-height: 36px;
  text-shadow: 0px 1px 0px #FFFFFF;

  width:300px;
  margin-left: 102px;
  background: transparent url("/img/spinner.gif") no-repeat 0px 9px;
  padding-left: 22px;
}







.email-avatar {
/*border-radius: 3px;
margin-right: 0.5em;
*/
 width:35px;
  height:35px;
  border: 1px solid #E6E8EA;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background: left center no-repeat;
  float:left;
}


.ellipsis {
  overflow:hidden;
  white-space:nowrap;
  -ms-text-overflow:ellipsis;
  text-overflow:ellipsis;
 }


.email-desc {
    margin: 0.4em 0;

    padding-left:10px;

    height: 2.5em;
    font-style: italic;
    font-size: 13px;
    line-height: 1.2em;
    font-variant: normal;
    text-shadow: 1px 1px 0 white;

}


.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 6px solid #02a3c6;
}


/* Email Content Styles */
.email-content
{

    position: absolute;
    left: 375px;

    top: 0px;
    bottom: 80px;
    right: 0px;
    box-sizing: border-box;
    overflow-y: auto;

    overflow: auto;
}


.card_with_shadow
{
    border-radius: 6px;
    background: rgba(255,255,255,0.97);
    border: 1px solid #D3D0D0;
    -moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.29);
    box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.29);
    overflow:hidden;
}


.email-content-title {
    text-align:left;
    color:#4C4C4C;
    text-shadow:1px 1px 1px white;

    font-family: "proxima-nova-alt-condensed", courier, sans-serif;
    font-size: 26px;
    line-height: 1.2em;
    font-weight: 600;
    float:left;

    overflow:hidden;
    white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
}


.email-content-subtitle {
    font-size: 1em;
    margin: 0;
    font-weight: normal;

    display:block;
    font-weight: 600;
    color: #999;
    text-shadow:1px 1px 1px white;
    font-size: 14px;

    color: #999;
}

.email-content-action {
    float: right;
    text-decoration: none;
    padding: 3px 0px;
}


.contentHead {
    padding: 20px;
}


.email-message-container {
    display:block;
    padding: 10px;
}

.contentFoot
{

}



/* Bottom chevron */
/*
div.right_message_bubble:before
{
  background-color: white;
  -webkit-transform: rotate(45deg);
  content: ' ';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30px;
  bottom: -16px;
  border: 1px solid;
  border-color: transparent rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) transparent;
}
*/

/* New message glow
TODO apply multiple shadows somehow with SASS
http://stackoverflow.com/questions/7965278/box-shadow-both-inset-and-outside-on-same-div
*/

/*.green_glow {
    box-shadow: 0 0 10px rgba(0, 200, 50, .8);
  -webkit-box-shadow: 0 0 10px rgba(0, 200, 50, .8);
  -moz-box-shadow: 0 0 10px rgba(0, 200, 50, .8);
}
.green_glow:before {
    box-shadow: 0 0 10px rgba(0, 200, 50, .8);
  -webkit-box-shadow: 0 0 10px rgba(0, 200, 50, .8);
  -moz-box-shadow: 0 0 10px rgba(0, 200, 50, .8);
}
*/




.email-content-controls {
margin-top: 2em;
text-align: right;
}

.email-content-controls .secondary-button {
margin-bottom: 0.3em;
}



/*


.shadowed_wrapper
{
  position: relative;
  z-index: 1;
}

.shadowed
{
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.shadowed:before, .shadowed:after
{
  content: '';
  z-index: -1;
  position: absolute;
  left: 22px;
  bottom: 10px;

  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;

  -webkit-box-shadow: 0 11px 7px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0 11px 7px rgba(0, 0, 0, 0.40);
  box-shadow: 0 11px 7px rgba(0, 0, 0, 0.40);

  -webkit-transform: skew(-15deg) rotate(-2deg);
  -moz-transform: skew(-15deg) rotate(-2deg);
  -ms-transform: skew(-15deg) rotate(-2deg);
  -o-transform: skew(-15deg) rotate(-2deg);
  transform: skew(-15deg) rotate(-2deg);
}

.shadowed:after
{
  left: auto;
  right: 22px;
  -webkit-transform: skew(15deg) rotate(2deg);
  -moz-transform: skew(15deg) rotate(2deg);
  -ms-transform: skew(15deg) rotate(2deg);
  -o-transform: skew(15deg) rotate(2deg);
  transform: skew(15deg) rotate(2deg);
}

*/



/* Buttons */


a.button, input[type=submit] {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px;
    cursor:pointer;

}
a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active {
    color: #000;
    border-color: #444;
}


.reply_textarea {
  cursor: text;
}



.resize_textbox {
   word-wrap: break-word;

   -moz-box-shadow:none;
   resize: none;

  font-size: 16px;
  font-variant: normal;
  font-family: "proxima-nova-alt", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;


  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;

  cursor: text;
}

.animate_change
{
   transition: 0.3s;
   -moz-transition:  0.3s;
   -webkit-transition:  0.3s;
   -o-transition:  0.3s;
}



.active {
  background-color: blue;
}

.resize_textbox:focus {
    outline: none;
}


