packages:
  yum:
    git: []
    gcc: []
    make: []
    gcc-c++: []
    libevent: []
    libevent-devel: []
  pip:
    distribute

commands:
  01install_mysql_python:
    command: pip install distribute==0.6.28; pip install MySQL-python==1.2.4
  02environment_setup:
    command: export PUBLIC_HOSTNAME="$(curl http://169.254.169.254/latest/meta-data/public-hostname 2>/dev/null)"
  03environment_setup:
    command: export PUBLIC_IP="$(curl http://169.254.169.254/latest/meta-data/public-ipv4 2>/dev/null)"
  04environment_setup:
    command: export PRIVATE_IP="$(curl http://169.254.169.254/latest/meta-data/local-ipv4 2>/dev/null)"

option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
  "aws:elasticbeanstalk:container:python":
    "WSGIPath": "application.py"

