@font-face {
  font-family:'MuseoSans';
  src:url(/static/fonts/museosans/museosans-500-webfont.woff) format('woff');
  font-style:normal;
  font-weight:500;
  font-stretch:normal;
}

@font-face {
  font-family:'MuseoSans';
  src:url(static/fonts/museosans/museosans-700-webfont.woff) format('woff');
  font-style:normal;
  font-weight:700;
  font-stretch:normal;
}

@font-face {
  font-family:'MuseoSans';
  src:url(static/fonts/museosans/museosans-700-webfont.woff) format('woff');
  font-style:normal;
  font-weight:700;
  font-stretch:normal;
}


@font-face{
  font-family:'MuseoSans';
  src:url(/static/fonts/museosans/museosans-300-webfont.woff) format('woff');
  font-style:normal;
  font-weight:300;
  font-stretch:normal;
}


