

/* Sticky footer */
* {margin:0;padding:0;} 
html, body {height: 100%;}
#bigwrap 
{
	min-height: 100%;
}

#main 
{
	overflow:auto;
	padding-bottom: 24px;
}  /* must be same height as the footer */

#footer 
{
	position: relative;
	margin-top: -24px; /* negative value of footer height */
	height: 24px;
	clear:both;

	text-align:center;
	text-shadow:1px 1px 1px white;
	font-family: MuseoSans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	text-shadow: 1px 1px 0 white;
	color: #616566;
}

} 

/* Opera Fix for sticky footer */
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}




body {
  /*background-color: #E6EBEA;*/
  background-color: #F9F9F9;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #616566;

  font-smooth:always;
  -webkit-font-smoothing:antialiased;
}


.wrapper
{
	width: 840px; /*Width of main container*/
	margin: 0 auto; /*Center container on page*/

	position: relative;

	padding-top: 30px;
	padding-bottom: 30px;
}



.container_left
{
	float:left;
	width: 340px;
	height:100%;
	margin-bottom: 22px;
}

.container_right
{
	float:right;
	width: 500px;
	height:100%;
	margin-bottom: 22px;
}


.left_pane
{
	position: relative;
	text-align: left;
	background: #fff;

	border: 1px solid rgba(0, 0, 0, 0.10);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

}


.right_pane
{
	position: relative;
	text-align: left;
	height: 500px;
	padding-left:20px;
}

.right_message_bubble
{

	position: relative;
	text-align: left;
	background: #fff;

	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	padding: 20px;

	height:200px;

}

/* Quoted thing */

div.right_message_bubble:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	bottom: -30px;
	border: 15px solid;
	border-color: rgba(0, 0, 0, 0.10) transparent transparent rgba(0, 0, 0, 0.15);
}

div.right_message_bubble:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 31px;
	bottom: -28px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}





/* Shadowed containers */

/* Apply to parent of anything that is shadowed. */
.shadowed_wrapper
{
  position: relative;
  z-index: 1;  /* prevent shadows falling behind containers with backgrounds */
}

.shadowed
{
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.shadowed:before, .shadowed:after 
{
  content: '';
  z-index: -1;
  position: absolute;
  left: 22px;
  bottom: 10px;

  width: 70%;
  max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
  max-height: 100px;
  height: 55%;

  -webkit-box-shadow: 0 11px 7px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0 11px 7px rgba(0, 0, 0, 0.40);
  box-shadow: 0 11px 7px rgba(0, 0, 0, 0.40);

  -webkit-transform: skew(-15deg) rotate(-2deg);
  -moz-transform: skew(-15deg) rotate(-2deg);
  -ms-transform: skew(-15deg) rotate(-2deg);
  -o-transform: skew(-15deg) rotate(-2deg);
  transform: skew(-15deg) rotate(-2deg); 
}

.shadowed:after 
{
  left: auto;
  right: 22px;
  -webkit-transform: skew(15deg) rotate(2deg);
  -moz-transform: skew(15deg) rotate(2deg);
  -ms-transform: skew(15deg) rotate(2deg);
  -o-transform: skew(15deg) rotate(2deg);
  transform: skew(15deg) rotate(2deg); 
}



.mailbox_name
{
	text-align:left;
	text-shadow:1px 1px 1px white;
	font-family: MuseoSans, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	text-shadow: 1px 1px 0 white;
	padding-bottom: 8px;
	padding-left: 3px;

	color: #616566;
}



/* Left pane message cells */

.message_cell
{
	padding: 12px;
	height: 58px;
	background-color: #fff;

	/* separator */
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E8EA;

	/* Not sure about this cursor. */
	cursor: hand; cursor: pointer;
}

.message_cell:first-of-type
{
	/* To clip for curved container */
	border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.message_cell:last-of-type
{
	border-bottom-width: 0px;
	border-bottom-style: none;

	/* To clip for curved container */
	border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}


 .message_cell.selected
 {
 	background-color: #edf5fd;
 }


.message_cell_image {
  width:35px;
  height:35px;
  border:1px solid #E6E8EA; 
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: left center no-repeat;
  float:left;
 }

 .message_subject_line {

	line-height: 16px;
    overflow: hidden;
    padding-left:10px;
    height: 20px;

	font: 700 19px/23px "MuseoSans",Arial,Helvetica,sans-serif;
	font-family: MuseoSans, Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 25px;
	text-shadow: 1px 1px 0 white;
	padding-bottom: 5px;
 }

 .message_subhead_text
 {
    overflow: hidden;
    height: 34px;

    padding-left:10px;


 	font-style: italic;
	font-size: 13px;
	line-height: 16px;

	font-variant: normal;
	text-shadow: 1px 1px 0 white;
 }





