<!doctype html>
<html lang="en" ng-app='InboxApp'>
<head>
	<meta charset="utf-8">
	<title>Inbox</title>


<link rel="stylesheet" href="css/style.css"/>

<style type="text/css">
	/* Hide while loading */
	[ng\:cloak], [ng-cloak], .ng-cloak {
	  display: none;
	}
</style>

<!-- typekit -->
<!-- <script type="text/javascript" src="//use.typekit.net/ccs3tld.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 -->


</head>
<body>

<div id="wrapper" ngCloak data-ng-controller="AppContainerController">

<!--  <div id="header">&nbsp;</div>  -->
<div id="main">
    <div class="leftcol card_with_shadow">

    	<div class="leftHeader">
			<div class="searchbutton clickable"></div>
			<div class="composebutton clickable"></div>
			<div class="inboxlabel">Inbox</div>
	<!-- 		<div class="searchbox">
				<form class="form-search">
				<input type="text" class="input-xlarge  mysearchbox" placeholder="Search Inbox..." >
				</form>
			</div>
-->
    	</div>

        <div class="messagelist">
			<itemcell data-ng-repeat="m in messages | orderBy:'-date'" message="m" data-ng-click="openMessage(m)"></itemcell>
        </div>

        <div class="leftFooter">
			<div class="gearbutton clickable"></div>
			<div class="footerstatus" ng-bind="statustext" ng-cloak></div>
        </div>

    </div>



    <div id="rightcol">
        <div class="content">

            <div class="contentHead">
					<div class="email-content-title">
		                <span ng-bind="activeMessage.subject"></span>
		                <span class="email-content-subtitle" ng-show="activeMessage != null">Sent to {{activeMessage.contactDisplayList}}</span>
		            </div>
            </div>

            <div class="contentBody">
		        <div class="email-message-container">
					<threadview message="activeMessage"></threadview>
		         </div>
            </div>

            <div class="contentFoot">

		         <replybox send-button-action="sendMessage(message_text)">
		         	Reply text here&hellip;
		         </replybox>
            </div>


        </div>
    </div>
</div>
</div>



<!-- JavaScript Includes -->

<script src="lib/jquery.min.js"></script>
<script src="lib/jquery-utils/jquery.ui.widget.js"></script>
<script src="lib/jquery-utils/jquery.iframe-transport.js"></script>
<script src="lib/jquery-utils/jquery.fileupload.js"></script>

<!-- Aaaaaaaangular -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>
<script src="lib/angular/angular-cookies.js"></script>
<script src="lib/angular-modules/localStorageModule.js"></script>

<script src="lib/mousetrap.min.js"></script>

<script src="lib/bootstrap/ui-bootstrap-0.3.0.js"></script>
<script src="lib/utils/md5.js"></script>
<script src="lib/socketio/socket.io.js"></script>
<script src="js/app.js"></script>
<script src="js/models.js"></script>

<script src="js/services/Wire.js"></script>
<script src="js/services/Growl.js"></script>
<script src="js/services/ProtocolHandler.js"></script>

<script src="js/controllers/AppContainerController.js"></script>
<script src="js/controllers/CookieController.js"></script>

<script src="js/filters.js"></script>
<script src="js/directives/directives.js"></script>
<script src="js/directives/messageView.js"></script>
<script src="js/directives/replyBox.js"></script>

<script src="js/services/Layout.js"></script>

</body>
</html>