<!doctype html>
<html lang="en" ng-app='InboxApp'>
<head>
    <meta charset="utf-8">
    <title>Inbox</title>

<link rel="stylesheet" href="css/bootstrap.min.css"/>


<link rel="stylesheet" href="css/style.css"/>

<!-- <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/> -->

<style type="text/css">
    /* Hide while loading */
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }
</style>

<!-- typekit -->

<script type="text/javascript" src="//use.typekit.net/ccs3tld.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


</head>
<body>

<div id="wrapper" ngCloak data-ng-controller="AppContainerController">

<!--  <div id="header">&nbsp;</div>  -->
<div id="main">


  <div class="sidebar">
    <div class="sidebar_icon search clickable"></div>
    <div class="sidebar_icon mail clickable"></div>
    <div class="sidebar_icon todo clickable"></div>
    <div class="sidebar_icon stacks clickable"></div>
    <div class="sidebar_icon people clickable active"></div>
    <div class="sidebar_icon groups clickable"></div>
    <div class="sidebar_icon settings clickable"></div>
  </div>


  <div class="left_side">

    <div class="header_left">
        <div class="header_pane_container">

          <headersearchbox handler="performSearch"></headersearchbox>
          <div style="float:right">
            <div class="action_button clickable compose" data-ng-click="composeButtonHandler()">New</div>
            <div class="action_button_sep"></div>
          </div>

        </div>
    </div>

    <div class="left_pane">
      <div class="messagelist">
        <itemcell data-ng-repeat="t in displayedThreads"
                  thread="t"
                  data-ng-click="openThread(t)"
                  selected="t == activeThread">
        </itemcell>
      </div>
    </div>

  </div>
  <!-- End left side -->



  <!-- Begin right side -->
  <div class="panel_right">
      <div class="action_bar_top">

        <div class="action_button clickable archive" data-ng-click="archiveButtonHandler()">Archive</div>
          <div class="action_button_sep"></div>
        <div class="action_button clickable todo">Todo</div>
          <div class="action_button_sep"></div>

        <div class="action_button clickable snooze">Snooze</div>
          <div class="action_button_sep"></div>
        <div class="action_button clickable move">Move</div>
          <div class="action_button_sep"></div>
        <div class="action_button clickable group">Group</div>
          <div class="action_button_sep"></div>
        <div class="action_button clickable more">&nbsp</div>

      </div>


    <div class="panel_right_content">

      <div class="contentBody">
        <div class="contentHead" ng-show="activeThread">
          <div class="email-content-title" ng-bind="activeThread[0].subject">
          </div>

          <span class="email-content-subtitle" ng-show="activeThread[0] != null">Sent to {{activeThread[0].contactDisplayList}}</span>

        </div>

        <div style="clear:both"></div>

        <div class="email-message-container"  ng-repeat="message in activeThread">
            <threadview message="message"></threadview>
        </div>


        <div class="contentFoot" ng-show="activeThread">>
          <replybox send-button-action="sendMessage(message_text)"></replybox>
        </div>

      </div>


    </div>
  </div>
</div>
</div>



<!-- JavaScript Includes -->
<script src="js/bootstrap.js"></script>

<script src="lib/jquery.min.js"></script>
<script src="lib/jquery-utils/jquery.ui.widget.js"></script>
<script src="lib/jquery-utils/jquery.iframe-transport.js"></script>
<script src="lib/jquery-utils/jquery.fileupload.js"></script>

<!-- Aaaaaaaangular -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>
<script src="lib/angular/angular-cookies.js"></script>
<script src="lib/angular-modules/localStorageModule.js"></script>

<script src="lib/mousetrap.min.js"></script>

<script src="lib/bootstrap/ui-bootstrap-0.3.0.js"></script>
<script src="lib/utils/md5.js"></script>
<script src="lib/socketio/socket.io.js"></script>
<script src="js/app.js"></script>
<script src="js/models.js"></script>

<script src="js/services/Wire.js"></script>
<script src="js/services/Growl.js"></script>
<script src="js/services/ProtocolHandler.js"></script>

<script src="js/controllers/AppContainerController.js"></script>
<script src="js/controllers/CookieController.js"></script>

<script src="js/filters.js"></script>
<script src="js/directives/directives.js"></script>
<script src="js/directives/messageView.js"></script>
<script src="js/directives/replyBox.js"></script>

<script src="js/services/Layout.js"></script>

</body>
</html>