[client]
host=localhost
port=3306
user=inbox
password=inbox
default-character-set=utf8mb4

[mysqld]
collation-server=utf8mb4_general_ci
init-connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
sql-mode='traditional'
transaction-isolation=READ-COMMITTED
innodb-online-alter-log-max-size=4294967296
innodb-lock-wait-timeout=50
net-read-timeout=60
max-allowed-packet=67108864
innodb-log-file-size=671088640
max-connect-errors=10000000

slow-query-log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=2
log-queries-not-using-indexes
