html {
  background: #eee;
}
body {
  background: transparent;
  font-weight: 300;
  font-family:'Open Sans', sans-serif;
}
.main {
  margin-top: 0;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.sub-header {
  padding-bottom: 10px;
}
.table-white {
  background-color: white;
}

a {
  color:#42A5C6;
  font-weight:400;
  cursor: pointer;
  text-decoration: underline;
}
a:visited {
  color:#328BA8;
}
a:hover {
  color:#42A5C6;
}
td a {
  display:block;
}

h1,h2,h3,h4 {
  line-height:160%;
  font-weight:300;
  font-family:'Roboto', sans-serif;
}
h1 {
  font-size:54px;
  color:#B20000;
}
h2 {
  color:#999;
}
h4 {
  font-size:20px;
}
.text-green {
  color:#00B233;
}

.account_id {
  text-align:center;
}

#account-info, #account-error {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#account-error #account-error-text {
  padding: 5px;
}

#folder-list {
  margin-left: 20px;
  margin-right: 20px;
}

#account-list {
  margin-left: 20px;
  margin-right: 20px;
}

#account-error {
  margin-left: 20px;
  margin-bottom: 20px;
}
.info-item {
  margin-left: 5px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.info-item > .info-name
{
	float: left;
	width: 100px;
}
.info-item > .info-value
{
}
#title {
  font-size: 30px;
  color: #B00;
}
#subtitle {
  font-size: 20px;
}
#counts {
  font-size: 15px;
  margin-bottom: 10px;
}

div#account-list th {
  cursor: pointer;
}

th.provider, td.provider {
  text-align: center;
}
th.enabled, td.enabled {
  text-align: center;
}
th.state, td.state {
  text-align: center;
}
th.host, td.host {
  text-align: center;
}
th.type, td.type, th.sync-progress {
  text-align: center;
}
th.start, th.end {
  min-width: 125px;
}

th.start, th.end, td.start, td.end {
  text-align: center;
}

td.sync-progress {
  width: 130px;
  height: 25px;
}

td.sync-progress div.progress {
  height: 22px;
  margin: 0px;
  padding: 0px;
}

td.sync-progress div.progress-bar {
  height: 22px;
}

.status-running {
}
.status-killed {
  background-color: #EEB4B4;
}
.status-stopped {
  background-color: #FEF1B5;
}
.status-invalid {
  background-color: #FFDAB9;
}
.status-connerror {
  background-color: #FFDAB9;
}
.account-row {
  cursor: pointer; cursor: hand;
}
