<div class="full_composer_container">
  <form novalidate class="css-form">
  <div class="fullcomposeview_top" id="to_top">
    <div style="width:60px; float:left; margin-left:10px">To:</div>
    <span style="width:auto;" ng-style="recipientLineMarginLeft(recipient_line)" class="recipient_line" ng-repeat="recipient_line in recipient_lines">
      <span class="email_token" ng-repeat="e in recipient_line"><strong>{{e.email}}  </strong></span>
    </span>
    <input autofocus type="text" id="to" ng-model="to" ng-trim="false" ng-style="{width:to_width}">
    <div class="clear" style="margin-top:5px;"></div>
  </div>

  <div class="fullcomposeview_top">
    <div style="width:60px; float:left; margin-left:10px">Subject:</div>
    <input type="text" ng-model="subject" ng-style="{width:subject_width}">
    <div class="clear"></div>
  </div>

  <div class="messageview_separator"></div>

  <div auto-resize class="fullcomposeview_body" id="body" contenteditable="true"></div>
  <div class="replybox_bottom_button_bar">
    <div id="add_file_button" class="replybox_bottom_button add_file" hover="#E0E3E3">Add Files</div>

    <div id="add_file_button" class="replybox_bottom_button add_event" hover="#E0E3E3">Add Event</div>

    <div id="send_button" class="replybox_bottom_button send"  ng-click="sendButtonHandler()" hover="#E0E3E3">Send</div>
  </div>
  </form>
</div>

