<div class="itemcell_email_item"
     hover
     ng-class="{itemcell_email_item_active: selected}"
     data-ng-click="eventHandler()">

    <div class="itemcell_byline ellipsis">
    	{{  thread[0].from[0][0] }} &nbsp;
		{{"<" + thread[0].from[0][2] + "@"+ thread[0].from[0][3] + ">"  }}
	</div>

	<div class="itemcell_date">
		{{thread[0].date | relativedate }} <br/>
	</div>
	<div class="clear">

	<div class="itemcell_email_subject ellipsis">{{thread[0].subject}}</div>

	<div class="itemcell_email_summary">
		Sed bibendum sit amet turpis nec dapibus. Praesent vitae tortor faucibus, congue ligula viverra, euismod metus.
	</div>


</div>