<div class="messageview_container">
    <div class="messageview_byline">
        <gravatar message="message"></gravatar>
        <div class="messageview_byline" style="float:left">
            <div class="messageview_byline_name">
                {{ message.fromName() }}
            </div>&nbsp; &lt;{{ message.fromEmail() }}&gt;
        </div>
        <div class="messageview_byline" style="float:right">
            {{ message.date | relativedate }}
        </div>
    </div>
    <div class="messageview_separator"></div>
    <div class="clear"></div>

    <messageframe content="message.body"></messageframe>
</div>
