<div class="box_with_shadow replybox_container">
  <div class="replybox_main">

    <div id="drop">

      <div auto-resize
           class="replybox_content"
           contenteditable="true"
           hidefocus="true">

           Write a message&hellip;
      </div>

      <form id="file-upload"
            style="display:none"
            method="post"
            action="/file_upload"
            enctype="multipart/form-data">
        <input style="display:none"
               type="file"
               name="file"
               multiple />
      </form>

      <div class="replybox_bottom_button_bar">

        <div class="replybox_bottom_button encrypt clickable"></div>
        <div class="replybox_bottom_button_bar_separator"></div>

        <div id="add_file_button" class="replybox_bottom_button attach clickable">
          Upload files&nbsp;(or drag-and-drop)
        </div>


<!--         <input type="text" ng-model="myModelObj">
        <input type="file" ng-file-select="onFileSelect($files)" >
        <input type="file" ng-file-select="onFileSelect($files)" multiple>
        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
              ng-show="dropSupported">drop files here</div>
        <div ng-file-drop-available="dropSupported=true"
              ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        <button ng-click="upload.abort()">Cancel Upload</button>
 -->

        <div class="replybox_bottom_button send clickable"  ng-click="sendButtonHandler()">
          Send
        </div>

      </div>
    </div>
  </div>
</div>
