body {
    color: #333;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #1b98f8;

}

/* LAYOUT CSS */
#layout {
    padding-left:350px; /* "left col (nav + list)" width */
    position: relative;
}


#list {

    position: fixed;
    top: 15px;
    bottom: 0;
    overflow: auto;
    margin-left: -350px;
    width:350px;
    border-right: 1px solid #ddd;
}

#main {
    width: 100%;
}




/* HELPER CLASSES */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}





/* Email Item Styles */
.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
    .email-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .email-name, .email-subject {
        margin: 0;
    }

    .email-name {
        text-transform: uppercase;
        color: #999;
    }

    .email-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }


.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 6px solid #02a3c6;
}



/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 1em 2em;
}


.email-content-header {

    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0px;
    display:block;

}

.email-content-body {
/*    position:relative;
    top:100px;
*/

    position: fixed;
    top: 150px;

    bottom: 0;
    overflow: auto;
}


.email-content-title {
    margin: 0.5em 0 0;
}
.email-content-subtitle {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}
.email-content-subtitle span {
    color: #999;
}

.email-content-controls {
margin-top: 2em;
text-align: right;
}
.email-content-controls .secondary-button {
margin-bottom: 0.3em;
}


