<!doctype html>
<html lang="en" ng-app='InboxApp'>
<head>
	<meta charset="utf-8">
	<title>Inbox</title>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="/static/fonts.css"/>


<!-- typekit -->
<script type="text/javascript">
	(function() {
		var config = {
			kitId: 'ccs3tld',
			scriptTimeout: 3000
		};
		var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
	})();
</script>


<!-- Sticky footer  -->
<!--[if !IE 7]>
<style type="text/css">
	#wrap {display:table;height:100%}
</style>
<![endif]-->

</head>

<body>
<div id="bigwrap">
<div id="main">

<div class="wrapper">

<div class="top_banner" ngCloak data-ng-controller="AppContainerController">

	<a href="" class="button" data-ng-click="notificationButtonClick()">Activate notifications</a>

	<div class="container_left">

		<div class="shadowed_wrapper">
			<div class="mailbox_name">Inbox</div>

			<a class="button" data-ng-click="loadMessagesForFolder('Inbox')">Load messages</a>

			<div class="basic_pane shadowed">

				<div class="message_cell" hoverstate="selected" 
				     data-ng-repeat="m in messages | orderBy:'-date'" ng-click="openMessage(m)">

					<img  class="message_cell_image" ng-src="{{ m.gravatar_url }}"
						 alt="{{ m.from_contacts[0] }}">

					<div class="message_subject_line ellipsis">{{m.subject}}</div>
					<div class="message_subhead_text ellipsis">
						<strong>Date</strong>: {{m.date | date:'medium' }} <br/>
						<strong>From</strong>: {{m.from_contacts[0]}}
					</div>
				</div>

			</div>

		</div>

	</div>


	<div class="container_right">
		<div class="right_pane">
			<div class="right_subject_box" ng-cloak ng-bind="activeMessage.subject">
			</div>

<!-- 			<messageview data-ng-repeat="message in messages" />
 -->

		<!-- <div ng-repeat="activeMessage in messages"> -->
			<messageview message="activeMessage" />
		<!-- </div> -->


				<div class="basic_pane reply_box" contenteditable="true" hidefocus="true">Reply text here...
				</div>

		</div>
	</div>

</div>

<!--     <div class="wrapper">
			<div class="panel">
				<div data-ng-repeat="message in messages">
					 <div enter="message_line_hovered" leave class="message_line" ng-click="openThread( message.thread_id)">
						<a href="/thread?thread_id={{message.thread_id}}">
							{{ message.subject }}
						</a>
					 </div>

				</div>
			</div>
		</div>
 -->
	</div>

</div> <!-- main -->
</div> <!-- bigwrap -->

<div id="footer">
About&nbsp;&nbsp;|&nbsp;&nbsp;Legal&nbsp;&nbsp;|&nbsp;&nbsp;Some Shit
</div>


	<!-- In production use:
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	-->
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-sanitize.js"></script>
	<script src="lib/utils/md5.js"></script>
	<script src="lib/socketio/socket.io.js"></script>
	<script src="js/app.js"></script>
	<script src="js/models.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
</body>
</html>

