
body
{
  color: #616566;


  /*font: 300 15px/21px "MuseoSans",Arial,Helvetica,sans-serif;*/
  /*font-family: MuseoSans, Arial, Helvetica, sans-serif;*/
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 1em;


  font-smooth:always;
  -webkit-font-smoothing:antialiased;

  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 200;

  /*font:15px/1.5 proxima-nova, Courier, sans-serif;*/
/*      font-weight:400;
*/      
  text-align:left;
  color:#333;
  text-shadow:1px 1px 1px white;

}
