<html>
  <head>
  <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css"/>

  <link rel="stylesheet" href="{{ static_url("fonts.css") }}" type="text/css"/>

  <script type="text/javascript" src="{{ static_url("script.js") }}"></script>

  <title>email</title>

  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


  <script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery(".content").hide();
    //toggle the componenet with class msg_body
    jQuery(".heading").click(function()
    {
      jQuery(this).next(".content").slideToggle(500);
    });
  });
  </script>


  </head>

  <body>

      {% block body %}{% end %}

  </body>
</html>