<div class='text-center' id='counts'>
  <div>
    <span id='total'>Total: {{accountsList.length}}</span>
  </div>

  <div>
    States:
    <span ng-repeat="(state, count) in state_count">
      <span>{{state}}</span>: <span>{{count}}</span>
    </span>
    <br />
    Providers:
    <span ng-repeat="(provider, count) in provider_count">
      <span>{{provider}}</span>: <span>{{count}}</span>
    </span>
  </div>
</div>

<div class="panel panel-primary" id="account-list">
  <div class="panel-heading">Accounts</div>
  <div class='table-responsive table-white'>
    <table class='table table-bordered table-condensed table-hover' id='status_table'>
      <thead>
        <tr>
          <th class="account_id" ng-click="sort('id')">
            Id
            <span ng-show="predicate=='id' && reverse" class="glyphicon glyphicon-sort-by-attributes"></span>
            <span ng-show="predicate=='id' && !reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </th>
          <th class="email" ng-click="sort('email')">
            Email Address
            <span ng-show="predicate=='email' && reverse" class="glyphicon glyphicon-sort-by-attributes"></span>
            <span ng-show="predicate=='email' && !reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </th>
          <th class="provider" ng-click="sort('provider')">
            Provider
            <span ng-show="predicate=='provider' && reverse" class="glyphicon glyphicon-sort-by-attributes"></span>
            <span ng-show="predicate=='provider' && !reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </th>
          <th class="state" ng-click="sort('state')">
            State
            <span ng-show="predicate=='state' && reverse" class="glyphicon glyphicon-sort-by-attributes"></span>
            <span ng-show="predicate=='state' && !reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </th>
          <th class="host" ng-click="sort('sync_host')">
            Sync Host
            <span ng-show="predicate=='sync_host' && reverse" class="glyphicon glyphicon-sort-by-attributes"></span>
            <span ng-show="predicate=='sync_host' && !reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </th>
          <th class="start" ng-click="sort('sync_start_time')">
            Start Time
            <span ng-show="predicate=='sync_start_time' && reverse" class="glyphicon glyphicon-sort-by-attributes"></span>
            <span ng-show="predicate=='sync_start_time' && !reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </th>
          <th class="end" ng-click="sort('sync_end_time')">
            End Time
            <span ng-show="predicate=='sync_end_time' && reverse" class="glyphicon glyphicon-sort-by-attributes"></span>
            <span ng-show="predicate=='sync_end_time' && !reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </th>
          <th class="sync-progress" ng-click="sort('percent')">
            Progress
            <span ng-show="predicate=='percent' && reverse" class="glyphicon glyphicon-sort-by-attributes"></span>
            <span ng-show="predicate=='percent' && !reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </th>
          <th class="error" ng-click="sort('sync_error')">
            Sync Error
            <span ng-show="predicate=='sync_error' && reverse" class="glyphicon glyphicon-sort-by-attributes"></span>
            <span ng-show="predicate=='sync_error' && !reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="filters">
          <td class="account_id"></td>
          <td class="email">
            <input class="form-control" type="text" ng-model="emailFilter" placeholder="Search..."/>
          </td>
          <td class="provider">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span ng-show="providerFilter">{{providerFilter}}</span>
                <span ng-show="!providerFilter">All</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="(provider, count) in provider_count" ng-click="filterProvider(provider)">{{provider}} ({{count}})</li>
                <li class="divider"></li>
                <li ng-click="filterProvider('')">All</a></li>
              </ul>
            </div>
          </td>
          <td class="state">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span ng-show="stateFilter">{{stateFilter}}</span>
                <span ng-show="!stateFilter">All</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="(state, count) in state_count" ng-click="filterState(state)">&nbsp;{{state}} ({{count}})</li>
                <li class="divider"></li>
                <li ng-click="filterState('')">All</a></li>
              </ul>
            </div>
          </td>
          <td class="host"></td>
          <td class="start"></td>
          <td class="end"></td>
          <td class="sync-progress">
          </td>
          <td class="error">
            <input class="form-control" type="text" ng-model="errorFilter" placeholder="Search..."/>
          </td>
        <tr ng-repeat="account in accountsList | filter:accountFilter | orderBy:predicate:reverse" class='account-row status-{{account.state}}' ng-click="select_account(account.id)">
          <td class="account_id">{{account.id}}</td>
          <td class="email">{{account.email}}</td>
          <td class="provider">{{account.provider}}</td>
          <td class="state">{{account.state}}</td>
          <td class="host">{{account.sync_host}}</td>
          <td class="start">{{account.sync_start_time | time_ago}}</td>
          <td class="end">{{account.sync_end_time | time_ago}}</td>
          <td class="sync-progress">
            <div class="progress">
              <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="{{account.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{account.percent}}%">
                &nbsp;{{account.percent}}%
              </div>
            </div>
          </td>
          <td class="error">
            <div ng-if="account.sync_error">
              <strong>Error:</strong> {{account.sync_error}}
            </div>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
